doctype html
html
	head
		title Seanclog
		link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/styles/ui-grid-stable.css')
		
		script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js')
		script(type='text/javascript', src='/javascripts/ui-grid-stable.js')
		script(type='text/javascript', src='https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js')
		
		script(type='text/javascript', src='/javascripts/ang-services.js')
		script(type='text/javascript', src='/javascripts/ang-controllers.js')
		script(type='text/javascript', src='/javascripts/ang-app.js')
	body(ng-app='seanclogApp')
		block content