doctype html
html
	head
		title Seanclog
		link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/styles/ui-grid-stable.css')
		
		script(type='text/javascript', src='/jquery/dist/jquery.js')
		
		script(type='text/javascript', src='/angular/angular.js')
		script(type='text/javascript', src='/angular-cookies/angular-cookies.js')
		script(type='text/javascript', src='/angular-route/angular-route.js')
		script(type='text/javascript', src='/angular-resource/angular-resource.js')
		script(type='text/javascript', src='/angular-translate/angular-translate.js')
		script(type='text/javascript', src='/angular-translate-loader-url/angular-translate-loader-url.js')
		script(type='text/javascript', src='/angular-translate-loader-static-files/loader-static-files.js')
		
		script(type='text/javascript', src='/javascripts/ui-grid-stable.js')
		script(type='text/javascript', src='https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js')
		
		script(type='text/javascript', src='/javascripts/ang-services.js')
		script(type='text/javascript', src='/javascripts/ang-controllers.js')
		script(type='text/javascript', src='/javascripts/ang-app.js')
	body(ng-app='seanclogApp')
		block content
