extends ./heading.jade

block content
	.container
		form(class='form-signin', action='/login', method='post')
			h2(class='form-signin-heading') Please sign in
			input(type='text', class='form-control', placeholder='username', name='username', required, autofocus)
			input(type='password', class='form-control', placeholder='Password', name='password', required)
			button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in