//Een template voor het maken van een pdf

doctype html
html
	head
		title PDF
		//ik ga hier gebruik maken van een standaard tabel in plaats van die van angular
	body
		//de body
		table
			tr
				//print de namen van de kolommen
				each x in tabel.names
					td= x
//hier moet nog de tabeldata onder komen