<!-- Le dialogue pour faire une cliente -->

<div class="modal fade" id="editModal" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Create client</h4>
			</div>
			<div class="modal-body">
				<form novalidate role="form">
					<label>Naam</label>
					<input id="naamInput" type="text" class="form-control" ng-model="client.naam" placeholder="Naam" value="{{chosenName}}" />
					<label>Telefoonnummer</label>
					<input id="telInput" type="text" class="form-control" ng-model="client.telefoonnummer" placeholder="Tel." value="{{chosenTel}}" />
					<label>Email</label>
					<input id="emailInput" type="email" class="form-control" ng-model="client.email" placeholder="Email" value="{{chosenEmail}}"/>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" type="button"
					ng-click="editClient(client)">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
