<div class="modal fade" id="editModal" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Create Project</h4>
			</div>
			<div class="modal-body">
				<!-- 
					Het formulier
					ieder veld corespondeert met een veld van een projectobject
				 -->
				<!-- Waarom is de novalidate nodig? -->
				<form novalidate role="form">
					<label>Titel</label> 
					<input id="titelInput" type="text" class="form-control" ng-model="toedit.titel" placeholder="Titel"/>
					<label>Prijs</label>
					<!-- Zou ik ervoor kunnen zorgen dat de gebruiker
						 hier alleenmaar een prijs kan invoeren?
					 -->
					<input id="prijsInput" type="text" class="form-control" ng-model="toedit.prijs" placeholder="Prijs">
					<label>Klant</label>
					<select class="form-control" ng-model="toedit.klant" ng-options="c as c.naam for c in clients"></select>
				</form>
			</div>
			<div class="modal-footer">
				<!-- De functie createproj moet nog gemaakt worden -->
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editProject(toedit)">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
