/* De stijl van deze app */

table {
	width: 100%;
}

input.ng-invalid.ng-touched:not(.novalidate) {
	background-color: #FD5959;
}

input.ng-valid.ng-touched:not(.novalidate) {
	background-color: #00FF6A;
}

.errortext {
	color: #FF0000;
}

@media (max-width: 767px) {
	.supertable th {
		display: none;
	}
	.supertable td {
		display: block;
	}
}
