/* De stijl van deze app */
.mygrid {
	width: 100%;
	height: 100%;
}

table {
	width: 100%;
}

input.ng-invalid.ng-touched {
	background-color: #FD5959;
}

input.ng-valid.ng-touched {
	background-color: #00FF6A;
}

.errortext {
	color: #FF0000;
}
