<div class="container-fluid">
	<h1>
		<translate>Clients</translate>
		<form class="form-inline extrabuttons">
			<div class="form-group">
				<input type="text" class="form-control novalidate" ng-model="searchText" placeholder="Search" />
				<button class="btn btn-default" ng-click="filterResults(searchText)"><translate>Search</translate></button>
				<button class="btn btn-default" data-toggle="modal" data-target="#createModal"><translate>Create</translate></button>
			</div>
		</form>
	</h1>
	
	<table class="table supertable">
		<tr>
			<th><translate>Name</translate></th>
			<th><translate>Telephone</translate></th>
			<th><translate>Email</translate></th>
			<th><translate>Actions</translate></th>
		</tr>
		
		<tr ng-repeat="x in data">
			<td>{{x.naam}}</td>
			<td>{{x.telefoonnummer}}</td>
			<td>{{x.email}}</td>
			<td>
				<button class="btn btn-default" ng-click="deleteClient(x._id)" translate>Remove</button>
				<button class="btn btn-default" data-toggle="modal" data-target="#editModal" ng-click="showEditClient(x)" translate>Edit</button>
			</td>
		</tr>
	</table>
	<div ng-include="'/partials/forms/form_createclient.html'"></div>
	<div ng-include="'/partials/forms/form_editclient.html'"></div>
</div>
