<!--
De single quotes en het feit dat het pad vanaf root begint
zijn heel belangrijk bij ng-include. Anders werkt het niet.
-->

<div ng-include="'/partials/partial-menu.html'"></div>
<div class="container-fluid">
	<h1>Projects</h1>
	
	<table>
		<tr>
			<th>Title</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>
		
		<tr ng-repeat="x in data">
			<td>{{x.titel}}</td>
			<td>{{x.prijs}}</td>
			<td><button class="btn btn-default" ng-click="deleteProject(x._id)">Remove</button></td>
		</tr>
	</table>
	<div ng-include="'/partials/forms/form_createproject.html'"></div>
</div>
