<div id="mainmenu">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar">
					<span class="sr-only">Toggle nav</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/tracks">brand</a>
			</div>
			
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="nav navbar-nav">
					<li><a href="#/tracks" translate>Tracks</a></li>
					<li><a href="#/projects" translate>Projects</a></li>
					<li><a href="#/clients" translate>Clients</a></li>
					<li><a href="#/profile" translate>Profile</a></li>
				</ul>
				<div class="navbar-form navbar-right" role="search">
					<button type="button" class="btn btn-default" onClick="performLogout()" translate>Logout</button>
				</div>
			</div>
		</div>
	</nav>
</div>
