<div ng-include="'/partials/partial-menu.html'"></div>
<div ng-include="partial-menu.html"></div>
<div class="container-fluid">
	<h1>Edit profile</h1>
	<div class="row">
		<div class="col-xs-1"><label>Naam</label></div>
		<div class="col-xs-11"><input type="text" class="form-control" placeholder="Dit is je naam" /></div>
	</div>
	
	<div class="row">
		<div class="col-xs-1"><label>Email</label></div>
		<div class="col-xs-11"><input type="text" class="form-control" placeholder="Dit is je email" /></div>
	</div>
	
	<div class="row">
		<div class="col-xs-2">
			<button class="btn" type="button">Save</button>
		</div>
	</div>
	
</div>
