<!--
De single quotes en het feit dat het pad vanaf root begint
zijn heel belangrijk bij ng-include. Anders werkt het niet.
-->

<div ng-include="'/partials/partial-menu.html'"></div>
<div class="container-fluid">
	<h1>Projects <button class="btn btn-default" data-toggle="modal" data-target="#createModal">Create</button></h1>
	
	<table class="table-bordered">
		<tr>
			<th>Title</th>
			<th>Price</th>
		</tr>
		
		<tr ng-repeat="x in data">
			<td>{{x.titel}}</td>
			<td>{{x.prijs}}</td>
		</tr>
	</table>
	<div ng-include="'/partials/forms/form_createproject.html'"></div>
</div>
